/* Default (Dark mode) */
body {
    --background-color-primary: #121212;
    --background-color-secondary: #1E1E1E;
    /* Slightly lighter than primary background */
    --text-color-primary: #FFFFFF;
    --text-color-secondary: #BBBBBB;
    /* Faded text color */
    --link-color: #8AB4F8;
    --highlight-color: #F50057;
    /* Example highlight color */
}

/* Light mode overrides */
@media (prefers-color-scheme: light) {
    body {
        --background-color-primary: #FFFFFF;
        --background-color-secondary: #F5F5F5;
        /* Slightly darker than primary background */
        --text-color-primary: #000000;
        --text-color-secondary: #666666;
        /* Faded text color */
        --link-color: #1A0DAB;
        --highlight-color: #D32F2F;
        /* Example highlight color for light mode */
    }
}

/* Light toggle */
/* use this as long as javascript is enabled */
/* otherwise, use the media query */
body.light {
    --background-color-primary: #FFFFFF;
    --background-color-secondary: #F5F5F5;
    /* Slightly darker than primary background */
    --text-color-primary: #000000;
    --text-color-secondary: #666666;
    /* Faded text color */
    --link-color: #1A0DAB;
    --highlight-color: #D32F2F;
    /* Example highlight color for light mode */
}

/* Dark toggle */
body.dark {
    --background-color-primary: #121212;
    --background-color-secondary: #1E1E1E;
    /* Slightly lighter than primary background */
    --text-color-primary: #FFFFFF;
    --text-color-secondary: #BBBBBB;
    /* Faded text color */
    --link-color: #8AB4F8;
    --highlight-color: #F50057;
    /* Example highlight color */
}

/* Global styles with theme variables */
body {
    background-color: var(--background-color-primary);
    color: var(--text-color-primary);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* Example font */
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-color-primary);
    margin-top: 20px;
    margin-bottom: 10px;
}

h1 {
    font-size: 2em;
    /* Example size, adjust as needed */
}

h2 {
    font-size: 1.5em;
}

p {
    color: var(--text-color-secondary);
    line-height: 1.6;
    /* Improves readability */
    margin-top: 10px;
}

a {
    color: var(--link-color);
    transition: color 0.3s ease;
}

a:hover {
    color: var(--highlight-color);
}

.highlight {
    background-color: var(--highlight-color);
    color: var(--background-color-primary);
    padding: 5px;
    border-radius: 4px;
}

.secondary-background {
    background-color: var(--background-color-secondary);
    padding: 10px;
    border-radius: 4px;
}

.secondary-text {
    color: var(--text-color-secondary);
    /* Use for less emphasized text */
}